body {
	background-image: url('background.png');
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	opacity: 0.5;
}
span {
  height: 1rem;
  width: 0.1rem;
}
div.toolbar {
	margin: 10pt;
}
.menu {
	background: #dde;
	border: solid 1pt #cce;
	padding: 4pt;
	color: #44e;
}
.option_active {
	background: #e00;
	border: solid 1pt #800;
	padding: 4pt;
	color: #fff;
}
.option {
	background: #edd;
	border: solid 1pt #ecc;
	padding: 4pt;
	color: #e44;
}

.typo {
	color: red;
	position: absolute;
	z-index: -1;
}
.foo {
  display: inline-block;
  background: #aaf;
  height: 10rem;
  width: 0.44rem;
}
.pad {
  background: none;
}
.bar {
  background: #bbf;
}
.bar2 {
  background: #9cf;
}
.f1 {
  font-weight: 100;
}
.f2 {
  font-weight: 200;
}
.f3 {
  font-weight: 300;
}
.f4 {
  font-weight: 400;
}
.f5 {
  font-weight: 500;
}
.f6 {
  font-weight: 600;
}
.f7 {
  font-weight: 700;
}
.f8 {
  font-weight: 800;
}
.f9 {
  font-weight: 900;
}
